<!--https://css-tricks.com/snippets/css/complete-guide-grid/-->
<div class="grid-container-menu">
  <div class="grid-container-menu-items">
    <button>Item 1</button>
    <button>Item 2</button>
    <button>Item 3</button>
    <button>Item 4</button>
    <button>Item 5</button>
  </div>
  <div class="grid-container-sub-menu-items">
    <button>Item 1</button>
    <button>Item 2</button>
    <button>Item 3</button>
    <button>Item 4</button>
    <button>Item 5</button>
  </div>
</div>

<div class="grid-container">
  <div style="background-color: yellowgreen">Left</div>
  <div style="background-color: lightcoral">
    Body
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p style="height: 150px; border: black solid 1px">4</p>

    <div class="some-table-grid">
      <div class="justify-item-center" style="background-color: black; color: whitesmoke">ID</div>
      <div class="justify-item-center" style="background-color: black; color: whitesmoke">Name</div>
      <div class="justify-item-center" style="background-color: black; color: whitesmoke">Color</div>
      <div class="justify-item-center" style="background-color: black; color: whitesmoke">Description</div>

      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">1</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Pumpkin</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Blue</p>
      <p class="justify-item-center-too-description" style="background-color: darkgrey; color: lightcyan">
        Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard
        proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze
        door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook,
        vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de
        introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software
        zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
      </p>

      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">2</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Pumpkin</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Blue</p>
      <p class="justify-item-center-too-description" style="background-color: darkgrey; color: lightcyan">
        Lorem Ipsum
      </p>

      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">1</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Pumpkin</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Blue</p>
      <p class="justify-item-center-too-description" style="background-color: darkgrey; color: lightcyan">
        Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard
        proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze
        door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook,
        vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de
        introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software
        zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
      </p>

      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">1</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Pumpkin</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Blue</p>
      <p class="justify-item-center-too-description" style="background-color: darkgrey; color: lightcyan">
        Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard
        proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze
        door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook,
        vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de
        introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software
        zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
      </p>

      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">1</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Pumpkin</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Blue</p>
      <p class="justify-item-center-too-description" style="background-color: darkgrey; color: lightcyan">
        Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard
        proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze
        door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook,
        vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de
        introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software
        zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
      </p>

      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">1</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Pumpkin</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Blue</p>
      <p class="justify-item-center-too-description" style="background-color: darkgrey; color: lightcyan">
        Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard
        proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze
        door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook,
        vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de
        introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software
        zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
      </p>

      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">1</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Pumpkin</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Blue</p>
      <p class="justify-item-center-too-description" style="background-color: darkgrey; color: lightcyan">
        Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard
        proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze
        door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook,
        vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de
        introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software
        zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
      </p>

      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">1</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Pumpkin</p>
      <p class="justify-item-center-too" style="background-color: darkgrey; color: lightcyan">Blue</p>
      <p class="justify-item-center-too-description" style="background-color: darkgrey; color: lightcyan">
        Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard
        proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze
        door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook,
        vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de
        introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software
        zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
      </p>
    </div>


  </div>
  <div style="background-color: yellowgreen">Right</div>
</div>
